body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
#NavLogo{
    width: 20%;
    margin-left: 10%;
}
#carouselExampleCaptions{
    width: 100%;
    padding: 0;
    
}
#carrouselInicial img {
    max-height: 35rem; /* Defina a altura máxima desejada para as imagens */
    width: auto; /* Isso garantirá que a largura seja ajustada automaticamente para manter a proporção */
}
.muda-cor:hover{
    background-color: rgb(224, 64, 38);
    border-radius: 2.5rem;
    height: 100%;
    width: 95%;
}
#Sobre{
    margin-top: 1rem;
}
#Servicos{
    background-color: rgb(247, 247, 247);
}
#carrouselManutencao img{
    max-height: 15rem;
    width: auto;
}
#carrouselManutencao{
    margin-left: auto;
    margin-right: auto;
}
#carrouselCM img{
    max-height: 15rem;
    width: auto;
}
#carrouselCM{
    margin-left: auto;
    margin-right: auto;
}
#carrouselFacilites img{
    max-height: 15rem;
    width: auto;
}
#carrouselFacilites{
    margin-left: auto;
    margin-right: auto;
}
#carrouselSO img{
    max-height: 15rem;
    width: auto;
}
#carrouselSO{
    margin-left: auto;
    margin-right: auto;
}
#carrouselGaleria img{
    max-height: 35rem;
    width: auto;
}
#carrouselGaleria{
    margin-left: auto;
    margin-right: auto;
}
h3{
    margin-bottom: 2%;
}
ul{
    margin-top: 1%;
}
.Galeria{
    margin-top: 1rem;
}
.tabela{
    margin-left: auto;
    margin-right: auto;
}
table img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
table img:hover{
    transform: scale(1.1);
}
#Contato{
    bottom: 0; 
    width: 100%;
    background: rgb(224, 64, 38);
    height: 35rem;
    color: white;
}
@media (max-width: 876px){
    #Contato{
        bottom: 0; 
        width: 100%;
        background: rgb(224, 64, 38);
        height: 58rem;
        color: white;
    }
}
#Direitos{
    background: black;
    color: white;
    bottom: 0;
    width: 100%;
    height: 3rem;
    text-align: center;
}
#Direitos a:hover{
    color: white;
}
#endereco{
    overflow:hidden;
    padding-bottom: 40%;
    position:relative;
    height:0;
}
#endereco iframe{
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    position:absolute;
}
#Contato img{
    width: 5rem;
    height: 5rem;
}
#Contato a:hover{
    color: white;
}
.whatsapp-botao {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    width: 3.75rem;
    height: 3.75rem;
    background-color: rgb(37, 211, 102);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.whatsapp-botao img {
    width: 2.5rem;
    height: auto;
}
.whatsapp-botao:hover {
    background-color: rgb(18, 140, 78);
}
#imagem-sobre{
    margin-left: 0;
    padding: 0;
    width: 100%;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo preta com 50% de transparência */
    padding: 20px; /* Espaçamento interno do texto dentro do carrossel */
    border-radius: 10px; /* Raio das bordas para torná-las arredondadas */
    color: white; /* Cor do texto dentro do carrossel */
}
